asgiref==3.11.1
defusedxml==0.7.1
Django==6.0.6
django-js-asset==4.0.1
django-leaflet==0.33.0
django-mptt==0.18.0
et_xmlfile==2.0.0
odfpy==1.4.1
openpyxl==3.1.5
psycopg==3.3.4
python-decouple==3.8
sqlparse==0.5.5
